<%- include("header") -%>

  <div class="box" id="heading">
    <h1> NAU BANK </h1>
  </div>

  <div class="hseparator1">
    <span></span>
    </div>


  <div class="logincredsbox">
    <form action="/login" method="POST">
    <div class="loginemailbox">
      <input  type= "text" id="loginEmail" name="loginEmail" placeholder="Account Number" autocomplete="off">
      </div>
    <div class="loginpasswordbox">
      <input  type= "text" id="loginPassword"name="loginPassword" placeholder="Password" autocomplete="off">
      </div>
    <button type="submit" name="list">Submit</button>
    </form>
  </div>
  </form>
<%- include("footer") -%>
